nav{
    text-align: center;
    color: white;
    padding-top: 25px;
}
.results{
    width: 200px;
    margin: auto auto;
}
select{
    margin-top: 10px;
    padding: 5px;
    width: 120px;
}
input{
    margin-top: 10px;
    padding: 5px;
    width: 180px;
}
button{
    margin-top: 10px;
}