nav{
    text-align: center;
    color: white;
    padding-top: 25px;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30pt;
    margin-bottom: 10px;
}
.results{
    width: 250px;
    margin: auto auto;
}
label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
}
select{
    margin-top: 10px;
    padding: 5px;
    width: 120px;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
    margin-bottom: 5px;
}
input{
    margin-top: 10px;
    padding: 5px;
    width: 180px;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
}
button{
    margin-top: 10px;
    border-radius: 5px;
}
select:focus{
    outline: none;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}